body {
  max-width: 1200px;
  width: 100%;
  background-color: rgb(26, 25, 25);
  margin: auto;
}

.galerie
{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
max-width: 1000px;
width: 100%;
padding: 20px;

}
img{
  width: 100%; 
  height: auto; 
  max-width: 14%; 
  margin-bottom: 20px; 
  background-color: white;
  border: 1px solid white;
  box-shadow: black;
}


h1 {
  color: green;
  text-align: center;
}

.mante:hover {
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  Animation-direction: normal; 
  
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  }
